<!DOCTYPE html>
<html>
<head>
    

</head>
<h1>SIGN UP!</h1>
<div class="floatcenter">
    <form action="{% url 'acount:signup' %}" method="POST">
        {% csrf_token %}
            USERNAME:
            <br><input name="username" type="text"><br>
            ID:
            <br><input name="identity" type="text"><br>
            PASSWORD:
            <br><input name="password" type="password"><br>
            CONFIRM PASSWORD:
            <br><input name="confirm_password" type="password"><br>
            EMAIL
            <br><input name="user_email" type="email"><br>
            <input type="submit" value="sign up">
    </form>
</div>
<br>
{{ issuccess }}
<br>
{% if messages %}
    <script type="text/javascript">
        alert("회원가입이 불가능 합니다.");
    </script>
    {% for msg in messages %}
        {{ msg.tags }}
        {{ msg.message }}
    {% endfor %}
{% endif %}
</html>